.button {
   padding: 0.6em 1.3em;
   color: #fff;
   background-image: $primary-gradient-vert;
   background-size: 100%;
   box-shadow: 0 6px 16px -2px rgba(8, 29, 26, 0.3);
   display: inline-block;
   cursor: pointer;
   transition: all 0.5s ease-out;
   position: relative;
   font-weight: 600;
   letter-spacing: .05em;
   font-size: 0.8em;

   &:hover,
   &:active {
      text-decoration: none;
      color: #fff;
      background-size: 400%;
      background-position: 0%;
      box-shadow: 0 6px 7px -2px rgba(8, 29, 26, 0.3);
      transform: translateY(-0.2em);
   }


   i {
      bottom: -.05em;
      font-size: .8em;
      margin-right: .3em;
   }
}
