.button {
   padding: 0.7em 1.5em;
   color: #fff;
   background-image: linear-gradient(180deg, #A3BA27 0%, #729317 100%);
   border: 1px solid #4C6700;
   box-shadow: 0 6px 25px 9px rgba(104,141,0,0.21);
   display: inline-block;
   cursor: pointer;
   text-align: left;
   transition: all .5s ease-out;
   position: relative;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 0.8em;

   &:hover,
   &:active {
      text-decoration: none;
      color: #fff;
      background-size: 400%;
      background-position: 0%;
      border: 1px solid #97b056;
      box-shadow: 0 4px 10px 5px rgba(104, 141, 0, 0.4);
      transform: translateY(-.3em);
   }


   i {
      bottom: -.05em;
      font-size: .8em;
      margin-right: .3em;
   }
}
