#menu-fusszeile {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   justify-content: space-around;
   margin-bottom: 3em;
   
   & > * {
      flex: 0 0 auto;
      padding: .5em;
   }

   a:hover {
      text-decoration: underline;
   }
}

#footer {
   overflow: visible;
}