#menu-fusszeile {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   justify-content: center;
   margin-bottom: 3em;
   
   & > * {
      flex: 0 0 auto;
      padding: .5em;
   }

   a {
      color: $primary;
      &:hover {
         text-decoration: underline;
      }
   }
}

#footer {
   overflow: visible;
   background: #fff;
}
