#top-logo {
   .logo-l {
      width: 60%;
      max-width: 360px;

      @include media-breakpoint-up(sm) {
         width: 50%;
      }

      @include media-breakpoint-up(m) {
         width: 40%;
      }
   }
}