a[href^="tel:"],
a[href^="mailto:"] {
  display: inline-block !important;
   text-decoration: none !important;
   margin-left: .5em;
   padding-right: .5em;
   &:before {
      @extend %icon-font-stuff;
      margin-left: .5em;
      margin-right: 1em;
   }
}
a[href^="tel:"]:before {
   content: map-get($icon-font-map, "phone");
}

a[href^="mailto:"]:before {
   content: map-get($icon-font-map, "envelope");
}

.anschrift {
  margin-left: .5em;
  padding-left: 2em;
  display: block;
  &:before {
    @extend %icon-font-stuff;
    content: map-get($icon-font-map, "location-dot");
    margin-left: -1.3em;
    display: block;
    position: absolute;
    font-size: 1.3em;
  }
}

[data-icon]:before {
  @extend %icon-font-stuff;
  position: relative;
  top: 0;
  content: attr(data-icon);
}

[data-icon-right]:after {
  @extend %icon-font-stuff;
  content: attr(data-icon-right);
}

[data-icon-left]:before {
  @extend %icon-font-stuff;
  content: attr(data-icon-left);
}

[class^="icon-"], [class*=" icon-"], [data-icon-left]{
  position: relative;
  &:before {
    @extend %icon-font-stuff;
  }
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
[data-icon-left]:before,
[data-icon-right]:after {
  left: -.3em;
  line-height: 1;
}

.button.icon-close:before,
.button.icon-close:after {
  font-size: 1.1em;
}

.icon-envelope:before {
  bottom: -.15em
}
