body {
   font-family: $font-family-sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 100%;
   background: #fff;
}

img, video {
   max-width: 100%;
   height: auto;
}

.container,
.container-fluid {
   position: relative;
   padding: 0;
   padding-bottom: 2em;
}

p:empty {
   display: none
}
