// Wrapper needs Backgroud-Colour to overlay menu while animating
#wrapper {
   position: relative;
   z-index: 1;
   background-color: $primary;
   background-image: $primary-gradient;
   transition: all .5s ease-in-out;
   overflow: hidden;

   & > * {
      overflow: hidden;
      transition: all .5s ease-in-out;
   }

      @include media-breakpoint-down(l) {
      .slideout-open & {
         transform: translateX(-10%);
      
         & > * {
            opacity: 0.5;
         }
      }
   }
}

// Standard-Look for Overlay
#responsivemenu {
   text-align: left;
   position: fixed;
   top: 0;
   bottom: 0;
   right: -100%;
   width: 80%;
   max-width: 290px;
   min-height: 100vh;
   -webkit-overflow-scrolling: touch;
   z-index: 1;
   transition: all .5s ease-in-out;
   color: #fff;
   background-color: $primary;
   background-image: $primary-gradient-vert;
   padding: 2em;

   @include media-breakpoint-down(l) {
   .slideout-open & {
      right: 0;
   }
   }

   #navclose {
      position: relative;
      float:right;
      z-index: 999;
      margin: 0;
   }

   .inner {
      background: $primary;
      margin-left: 2rem;
      padding: 2rem 2rem 10rem 2rem;
      height: 100%;
      width: calc(100% - 2em);
      overflow-y: scroll;

      @include media-breakpoint-up(sm) {
         padding-left: 4rem
      }
   }

   ul {
      list-style: none;
      padding-left: 0;

      li {
         margin-top: 15px;
         @include make-col-ready();
         @include make-col(6);
         @include media-breakpoint-up(m) {
         @include make-col(4);
         }

         .sub-menu {

            li {
               margin-top: 0;
               padding: 0 !important;

               a {
                  font-weight: 400 !important;
                  font-size: .9em !important;
               }
            }
         }
      }

      &:first-of-type {
         margin-top: 3em;
         margin-bottom: 3em;
         li {
            a {
               font-weight: 600;
               letter-spacing: .05em;
               font-size: 1.5em;
               font-weight: 600;
               line-height: 2;
            }
         }
         
      }
   }
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
   overflow: hidden;
}