// Variables
// Bootstrap Variables: "../../node_modules/bootstrap/scss/variables"

// Color system
$gray: #424242;
$gray-light: #7b7b7b;
$green: #579189;
$green-light: #67B49D;
$font-color: #878787;
$font-gray: #D8D8D8;
$font-dark: rgb(165,165,165);

$primary: $green;
$primary-gradient: linear-gradient(80deg, $green 20%, $green-light 120%);
$primary-gradient-vert: linear-gradient(0deg, $green 20%, $green-light 120%);
$gray-gradient: linear-gradient(161deg, $gray-light 0%, $gray 100%);

$dark: #191919;

$font-family-sans-serif:      Lato, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: Lora, "Times", "Times New Roman", serif;

$template-path: '/app/themes/template';

$container-gutter-x: 8em;
